body {
    font-family: helvetica ce, arial ce, arial, helvetica, sans-serif;
    background-color: #000033;
    color: #ffffff;
    font-size: 10pt;
    text-indent: 0;
	padding: 1px;
	margin: 0;
}

TABLE, TR, TD, TH {
    font-family: helvetica ce, arial ce, arial, helvetica, sans-serif;
    color: #ffffff;
    font-size: 10pt;
    line-height: 1.3;
}

.xdebug-error td, th {color: black;}

h1
{
    font-family: helvetica ce, arial ce, arial, helvetica, sans-serif;
    font-size: 12pt;
}

h2
{
    font-family: helvetica ce, arial ce, arial, helvetica, sans-serif;
    font-size: 10pt;
}

.lh2
{
    font-family: helvetica ce, arial ce, arial, helvetica, sans-serif;
    font-size: 11pt;
    text-align: left;
    font-weight: 800;
}

.mno
{
    font-family: helvetica ce, arial ce, arial, helvetica, sans-serif;
    font-size: 11pt;
}

.pokecdat {
    font-family: helvetica ce, arial ce, arial, helvetica, sans-serif;
    font-size: 10pt;
}

.roz {
    text-align: justify;
}

A {
    text-decoration: none;
    color: #6655ff;
}

A:hover, A:active {
    text-decoration: none;
    color: #FF9900;
}

B, TH {
    font-weight: 800;
}

.title {
    color: #CCCCFF;
    font-size: 14pt;
    font-weight: 800;
}

.table {
    background-color: #CCCCFF;
    color: #000000;
    font-size: 10pt;
    font-weight: 400;
}

.tabtitle {
    background-color: #6666CC;
    color: #FFFFFF;
    font-size: 10pt;
    font-weight: 800;
}

.hel9 {
    font-family: helvetica ce, arial ce, arial, helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 9pt;
}

.hel8 {
    font-family: helvetica ce, arial ce, arial, helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 8pt;
}

.small {
    color: #FFFFFF;
    font-size: 8pt;
}

.menu span { height: 35px; width: 105px; display: block; }
.menu span a#about_us { height: inherit; width: inherit; display: inherit; background: url("../images/page/m_we.jpg") no-repeat rgb(0,0,0); }
.menu span a:hover#about_us { background: url("../images/page/m_we_m.jpg") no-repeat rgb(0,0,0) !important; }
.menu span a#terrains { height: inherit; width: inherit; display: inherit; background: url("../images/page/m_ter.jpg") no-repeat rgb(0,0,0); }
.menu span a:hover#terrains { background: url("../images/page/m_ter_m.jpg") no-repeat rgb(0,0,0) !important; }
.menu span a#video { height: inherit; width: inherit; display: inherit; background: url("../images/page/m_vid.jpg") no-repeat rgb(0,0,0); }
.menu span a:hover#video { background: url("../images/page/m_vid_m.jpg") no-repeat rgb(0,0,0) !important; }
.menu span a#chat { height: inherit; width: inherit; display: inherit; background: url("../images/page/m_pokec.jpg") no-repeat rgb(0,0,0); }
.menu span a:hover#chat { background: url("../images/page/m_pokec_m.jpg") no-repeat rgb(0,0,0) !important; }
.menu span a#links { height: inherit; width: inherit; display: inherit; background: url("../images/page/m_lin.jpg") no-repeat rgb(0,0,0); }
.menu span a:hover#links { background: url("../images/page/m_lin_m.jpg") no-repeat rgb(0,0,0) !important; }

#header {
	margin: 0 auto;
    position: relative;
	width: 500px
}
#header a {
	background: url("../images/page/title1.jpg") no-repeat rgb(0,0,0);
	display: block;
	width: 500px;
	height: 98px;
}